[Unit]
Description=Grab sensor data and upload to remote server
Conflicts=ModemManager.service

[Service]
Type=exec
Environment=PYTHONUNBUFFERED=1
ExecStart=/usr/bin/smartpark_data_logger

[Install]
WantedBy=multi-user.target
